@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  color: white;
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
}

.App {
  background-color: rgb(43, 42, 42);
  width: 1000px;
  min-height: 100vh;
  padding: 1px;
}

